@using BookTest.Enums
@model Domain.Entitys.Book

<div class="BooksList--element getted" id="@Model.Id">
    <div class="BooksList--element--name">
        @Model.Name
    </div>
    <div class="BooksList--element--year" data-year="@Model.Year" >
        @Model.Year year
    </div>
    <div class="BooksList--element--language" data-languageId="@Model.OriginalLanguage.Id">
        (@((LanguageEnum)Model.OriginalLanguage.Id))
    </div>
    <div class="BooksList--element--Author" data-authourId ="@Model.Author.Id">
        @Model.Author.Name.FirstName @Model.Author.Name.LastName (@Model.Author.YearOfBirth)
    </div>
    <div class="BooksList--element--controlls">
        <button class="deliteButton">Delite</button>
        <button class="updateButton">Update</button>
    </div>
</div>
